.navbar {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar .logo {
  width: 85px;
  /* aspect-ratio: 4/3; */
  /* object-fit: contain; */
  /* mix-blend-mode: difference; */
  border-radius: 40px;
}

.navbar-menu {
  display: flex;
  margin-left: 60px;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.navbar-right {
  display: flex;
  gap: 25px;
  align-items: center;
  /* justify-content: space-between; */
}

.navbar-right button {
  border: orange;
  border: 1px solid orange;
  padding: 10px 20px;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
}

.navbar-right button:hover {
  background-color: tomato;
  transform: scale(1.15);
  color: white;
}

.navbar .active {
  padding-bottom: 2px;
  border-bottom: 2px solid orange;
  transform: scale(1.1);
}

.navbar li {
  cursor: pointer;
  list-style: none;
  transition: transform 0.5s;
  transition-timing-function: linear;
}

.navbar-search-icon {
  position: relative;
}

.navbar-search-icon .dot {
  position: absolute;

  min-width: 10px;
  min-height: 10px;
  background-color: red;
  top: -8px;
  right: -8px;
  border-radius: 5px;
}
