.navbar {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar .eatease {
  font-size: 2rem;
  background-image: linear-gradient(
    to right,
    #ff0000,
    #ff401d,
    #ff5d33,
    #ff7449,
    #ff8960,
    #ff8960,
    #ff8960,
    #ff8960,
    #ff7449,
    #ff5d33,
    #ff401d,
    #ff0000
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 1000;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.navbar .eatease:hover {
  transform: scale(1.1);
}

.navbar-menu {
  display: flex;
  margin-left: 60px;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.navbar-right {
  display: flex;
  gap: 25px;
  align-items: center;
}

.navbar-right button {
  border: 1px solid #ff0000;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
}

.navbar-right button:hover {
  background-color: #ff0000;
  transform: scale(1.15);
  color: white;
}

.navbar .active {
  padding-bottom: 2px;
  border-bottom: 2px solid orange;
  transform: scale(1.1);
}

.navbar li {
  cursor: pointer;
  list-style: none;
  transition: transform 0.5s;
  transition-timing-function: linear;
}

.navbar-search-icon {
  position: relative;
}

.navbar-search-icon .dot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: red;
  top: -8px;
  right: -8px;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .navbar {
    /* flex-direction: column; */
    padding: 10px;
  }
  .navbar-menu {
    display: none;
  }

  .navbar .eatease {
    font-size: 1.5rem;
  }

  /* .navbar-right {
    flex-direction: column;
    gap: 10px;
  } */

  .navbar-right button {
    padding: 8px 16px;
    border-radius: 15px;
  }

  .navbar-search-icon {
    display: none;
  }
}
