.food-item {
  width: 100%;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(11, 11, 11, 0.277);
  transition: 0.3s;
  animation: fadeIn 1s;
}

.food-item-img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.food-item-info {
  padding: 20px;
}
.food-item-name-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.food-item-name-rating p {
  font-size: 20px;
  font-weight: 500;
}

.food-item-name-rating img {
  width: 70px;
}

.food-item-desc {
  font-size: 16px;
  color: #5a5959;
  font-weight: 400;
  margin-bottom: 10px;
}
.food-item-price {
  font-size: 20px;
  font-weight: 500;
  color: #ff0000;
  margin-bottom: 10px 0px;
}
.food-item-img-container {
  position: relative;
}

.food-item-img-container .add {
  position: absolute;
  bottom: 15px;
  right: 10px;
  /* background-color: #ff0000 */
  /* color: white; */
  padding: 5px 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.food-item-img-container .add:hover {
  transform: scale(1.2);
}

.food-item-counter {
  position: absolute;
  bottom: 15px;
  right: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 6px;
  border-radius: 50px;
  background-color: #ffffff;
}
